.d-none {
	display: none !important;
}
.weather-forecast {

	.daily {

		.temp-box {
			display: flex;
			justify-content: space-between;
			
			span.temp {
				font-size: 1rem !important;
			}
		}
	}
}


// <div class="weather-box daily">
// 	<div class="d-flex justify-content-between">
// 		<div>
// 			Daily
// 			<span>Mon</span>
// 		</div>
// 			<i class="fa fa-poo-storm fa-5x"></i>
// 		</div>
//		<span class="time">10 AM</span>
//   	<span class="temp">${temp.day}<small>°c</small></span>
//   	<span class="temp">${temp.night}<small>°c</small></span>
// </div>